---
layout: "default.liquid"
title: "tamz blog"
pagination:
  include: All
  per_page: 16
---
<h1>tamz blog <a class="tag" href="/tags/">browse tags</a></h1>

{% include "print_posts.liquid" -%}
{% include "pagination_nav.liquid" -%}
