<footer>
	<ul>
		<li>	
			<a href="/privacy/">Privacy</a>
		</li>
		<li>
			<a href="/LICENSE">
				License
			</a>
		</li>
		<li>
			<a href="https://codeberg.org/tamz/website">
				Source code
			</a>
		</li>
		<li>	
			<a href="/feed.xml">RSS / Atom feed</a>
		</li>
		<li>
				Site maintained by <a href="/contact/">tamz</a>.
		</li>
	</ul>
</footer>
