<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.86">
	{% if page.description != "" %}<meta name="description" content="{{ page.description }}">{% endif %}
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ page.data.stylesheet }}">
</head>
