<header>
	<nav>
		<ul>
{%- for i in site.data.nav -%}
{%- assign expanded_link = site.base_url | append: i.link | append: "index.html" -%}
{%- assign expanded_perma = site.base_url | append: "/" | append: page.permalink %}
			<li>
				<a href="{{ i.link }}"{% if expanded_link == expanded_perma %} id="nav-current"{%- endif -%}>{{ i.name }}</a>
			</li>{%- endfor %}
		</ul>
	</nav>
</header>
