{%- comment -%}
	original taken from
	https://raw.githubusercontent.com/Geobert/blog/master/src/_includes/nav_pagination.liquid (GPL3)
	alterations by me
{%- endcomment -%}
{%- comment -%}
	Do not display pagination nav UI if there's no need to paginate (yet)
{%- endcomment -%}
{%- if paginator.total_indexes > 1 -%}
{%- assign prev = "prev" -%}
{%- assign next = "next" -%}
{%- assign first = "first" -%}
{%- assign last = "last" -%}
<div class="pagination">
	{% if paginator.previous_index -%}
		<a class="prev" href="/{{ paginator.previous_index_permalink }}">{{ prev }}</a>
	{% endif -%}
	{% if paginator.next_index -%}
		<a class="next" href="/{{ paginator.next_index_permalink }}">{{ next }}</a>
	{% endif -%}
	<div class="page-index">{{ paginator.index }} / {{ paginator.total_indexes }}</div>
	{% if paginator.previous_index -%}
		<a class="first" href="/{{ paginator.first_index_permalink }}">{{ first }}</a>
	{% endif -%}
	{% if paginator.next_index -%}
		<a class="last" href="/{{ paginator.last_index_permalink }}">{{ last }}</a>
	{% endif -%}
</div>
{%- endif -%}
