<ul>
{% for p in paginator.pages -%}
	<li class="post-excerpt-container">
		<div class="post-info">
			<h2 class="post-title"><a href="/{{ p.permalink }}">{{ p.title }}</a></h2>
			<time class="publication-time" datetime="{{ p.published_date | date: "%F" }}">{{ p.published_date | date: "%Y-%m-%d, %a" }}</time>
			{%- if p.tags -%}{%- assign tags = p.tags | sort -%}{%- for tag in tags -%}<span class="tag {{ tag }}">{{ tag }}</span>{%- endfor -%}{%- endif %}
		</div>
		<div class="post-excerpt">{{ p.excerpt }}</div>
	</li>
{% endfor -%}
</ul>
