{% comment %}
	original taken from
	https://raw.githubusercontent.com/Geobert/blog/master/src/_includes/print_tags.liquid (GPL3)
	minor alterations by me
{% endcomment %}
{% assign tags = page.tags | sort %}
{% for tag in tags %}
<a href="/tags/{{ tag | slugify: "latin" }}/" class="tag {{ tag }}">{{ tag }}</a>{% if forloop.index != forloop.length %}, {% endif %}
{% endfor %}
