<section>
	<h1>Aboot</h1>
	<p>
		This is my personal webpage. Just about everything about it
		(the design, the content) is incomplete and is likely to
		stay that way for quite some time. I'm pretty much just testing
		stuff out and reverse-proxying some software.
	</p>
	<p>
		If you think this website could be improved, you are welcome
		to open an issue or merge request at
		<a href="https://0.0.0.0/">the git repo for this site</a>.
	</p>
	<p>
		If you don't like the way this page looks and I refused to change it
		you can use a
		<a href="https://en.wikibooks.org/wiki/Cascading_Style_Sheets/User_Style_Sheets">userstyle</a>.
	</p>
	<aside>
		Please don't hack me (or at least email me if you do).
	</aside>
</section>
