:root {
	--nav-main-distance: 1.4rem;
	--h-margin: .8rem;

	/* colors */
	--beige-vibrant: #e5e5e5;
	--black: #0a0a00;
	--blu-saturated: #0b538e;
	--blu-turquoise: #2e4e4e;
	--blu-vibrant: #97bef9;
	--blu: #314f68;
	--lightblu: #6882aa;
	--darkgray: #1d1c1c;
	--grn-turquoise-vibrant: #58a982;
	--grn-turquoise: #468768;
	--pink-beige: #d7c1c1;
	--pink: #b34d7e;
	--pinkish-lightgray: #e4d5d5;
	--pinkish-white: #fff0f3;
	--rouge: #be3c5c;
	--silver-fade: #999999;
	--silver: #bfbfbf;

	/* common properties for either color scheme */
	--blockquote-fg: var(--fg-fade);
	--blockquote-bg: var(--bg-fade);
	--blockquote-border-color: var(--sepline);

	--nav-hover-fg: var(--ln-visited);
	--nav-current-fg: var(--h1);
	--nav-current-bg: var(--bg);
}

*,*:before,*:after {
	/* "reset" */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* chromium and gecko appear to split urls differently,
	 * causing potential layout differences if not used */
	overflow-wrap: anywhere;
}

@media (prefers-color-scheme: light) {
	:root {
		--fg: var(--black);
		--fg-fade: var(--black);
		--bg: var(--pinkish-white);
		--bg-fade: var(--pinkish-lightgray);

		--h1: var(--rouge);
		--h2: var(--rouge);
		--h3: var(--pink);
		--ln: var(--blu-saturated);
		--ln-visited: var(--blu);
		--sepline: var(--pink-beige);
		--sepline-discrete: var(--beige-vibrant);

		--nav-fg: var(--ln);
		--nav-bg: var(--pinkish-lightgray);
		--footer-bg: var(--pinkish-lightgray);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg: var(--silver);
		--fg-fade: var(--silver-fade);
		--bg: var(--black);
		--bg-fade: var(--darkgray);

		--h1: var(--grn-turquoise-vibrant);
		--h2: var(--grn-turquoise);
		--h3: var(--grn-turquoise);
		--ln: var(--blu-vibrant);
		--ln-visited: var(--lightblu);
		--sepline: var(--blu-turquoise);
		--sepline-discrete: black;

		--nav-fg: var(--ln);
		--nav-bg: var(--darkgray);
		--footer-bg: black;
	}
}

body {
	display: grid;
	/* extend size so footer can be at bottom*/
	min-height: 100vh;
	grid-template-areas:
		"header header header"
		". content ."
		". content ."
		"footer footer footer";
	grid-template-columns: 1fr 3fr 1fr;
	/* makes footer always be at the bottom*/
	grid-template-rows: auto auto 1fr auto;
	line-height: 1.7;
	font-size: 16px;
	font-family: "Ubuntu", "Cantarell", "Roboto", "Open Sans", "Noto Sans", "Nimbus Sans", "Arial", sans-serif;
	color: var(--fg);
	background-color: var(--bg);
}
main { /* unique content */
	grid-area: content;
	max-width: 60rem;
	padding: 0 1rem;
	margin: var(--nav-main-distance) auto;
}

header {grid-area: header;}

nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	background-color: var(--nav-bg);
}
nav ul li { /* navbar items */
	/*flex: 0 8rem;*/
	line-height: 2.8em;
	min-width: 8em;
}
nav ul li a {
	width: 100%;
	height: 100%;
	display: block;
	padding: 0 1rem 0 1rem;
}
nav ul li a:link, nav ul li a:visited {
	color: var(--nav-fg);
}
nav ul li a:link:hover, nav ul li a:visited:hover {
	color: var(--nav-hover-fg);
}
#nav-current {
	color: var(--nav-current-fg);
	background-color: var(--nav-current-bg);
}

/* only instance of this should be in contact.html inside of main */
#my-contact {
	/* we are also setting this in media max-width
	 * would be nice to adapt font to window size
	 * using min or clamp would give us more control,
	 * but not all browsers support it yet */
	font-size: 2em;
	/* might need to on smaller screens, dunno */
	word-break: break-all;
}

footer {
	grid-area: footer;
	background-color: var(--footer-bg);
	font-size: .9em;
}

footer ul {
	text-align: center;
	list-style-type: none;
}
.post-excerpt-container {margin: 0 0 .6em 0;}
.post-info {line-height: 1;}
.post-title {margin: 0;}

/* ugly hack */
.post-excerpt p {margin: .1em 0;}

.publication-time {
	font-size: .8em;
	color: var(--fg-fade);
}
.post-content-separator {
	height: 2.4px;
	margin: .3em 0;
	background-color: var(--sepline);
}
hr {border-color: var(--sepline);}

/* TODO improve pagination styling
 * Adapted from
 * https://raw.githubusercontent.com/Geobert/blog/master/src/_includes/nav_pagination.liquid
 */
.pagination {position: relative;}
.page-index {text-align: center;}
.prev, .next, .first, .last {position: absolute;}
.prev, .first {left: 0;}
.next, .last {right: 0;}
.prev:before {content: "← ";}
.next:after {content: " →";}
.first:before {content: "⇤ ";}
.last:after {content: " ⇥";}

/* new feature; TODO improve */
.tag {
	display: inline-flex;
	padding: .2em;
	margin: .1em;
	font-size: .9em;
	font-family: "Ubuntu Mono", "Source Code Pro", "Noto Sans Mono", monospace;
	background-color: var(--bg-fade);
	border: 0.1px solid var(--sepline-discrete);
}
/* TODO improve (WIP) */
blockquote {
	padding: 0 1ch;
	font-size: .9em;
	font-style: italic;
	line-height: 1.2em;
	border-left: .3em solid var(--blockquote-border-color);
	color: var(--blockquote-fg);
	background-color: var(--blockquote-bg);
}
pre, code {
	/* Non-retarded whitespace-handling */
	white-space: pre-line;
	background-color: var(--bg-fade);
	font-family: "Ubuntu Mono", "Source Code Pro", "Noto Sans Mono", monospace;
	padding: .2em;
}
pre { /* may be overdone, possibly remove */
	border: 1px solid var(--sepline-discrete);
}
code {
	/* fixes crappy alignment in pre, if code has padding */
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

p {margin: .5em 0;}
h1,h2,h3 {
	line-height: 1.2;
	font-weight: 500;
	margin: var(--h-margin) 0 var(--h-margin) 0;
}
h1 {
	font-weight: 600;
	font-size: 1.9rem;
	color: var(--h1);
}
h2 {font-size: 1.5rem; color: var(--h2);}
h3 {font-size: 1.3rem; color: var(--h3);}
img {
	width: 200px;
	max-width: 100%;
	height: auto;
}
.icon {
	/* TODO improve (how?) */
	width: 1.7em; /* size will be relative to surrounding text */
	max-width: 170px;
	vertical-align: text-bottom;
	margin: 0 .1em;
}

ul {
	padding-left: .6em;
	list-style-type: "› ";
}
ul ul {
	list-style-type: "⨽ ";
}
a:link,a:visited {text-decoration: none;}
a:link:hover,a:visited:hover {
	text-decoration: underline;
	color: var(--ln-visited);
}
a:link {color: var(--ln);}
a:visited {color: var(--ln-visited);}

header, footer {
	color: var(--fg-fade);
	/*font-family: "Ubuntu Mono", "Source Code Pro", "Noto Sans Mono", monospace;*/
}
abbr[title] {
	text-decoration: underline dotted;
	cursor: help;
}

@media (max-width: 80rem) {
	body {
		grid-template-areas:
			"header header header"
			"content content content"
			"content content content"
			"footer footer footer";
	}
}
@media (max-width: 33rem) {
	body {
		grid-template-areas:
			"header header header"
			"content content content"
			"content content content"
			"footer footer footer";
	}
	nav ul {flex-flow: column wrap;}
	/* display abbreviations on mobile */
	abbr[title]::after {
		content: " (" attr(title) ")";
		background-color: var(--bg-fade);
		color: var(--fg-fade);
		padding: .2rem;
		border-radius: 2px;
		margin: 0 .2rem;
	}
	abbr[title] {text-decoration: none;}
	#my-contact {font-size: 1.4em;}
}
@media print {
	* {font-family: serif;}
	header, nav, footer {display: none;}
	:root {
		--fg: black;
		--fg-fade: black;
		--bg: white;
		--bg-fade: white;
		--h1: black;
		--h2: black;
		--h3: black;
		--ln: var(--fg);
		--ln-visited: var(--fg);
		--sepline: var(--silver-fade);
		--sepline-discrete: var(--silver-fade);
		--nav-fg: var(--ln);
		--nav-bg: var(--silver-fade);
		--footer-bg: var(--silver-fade);
		--blockquote-bg: white;
	}
	abbr[title] {text-decoration: none;}
	abbr[title]::after {content: " (" attr(title) ")";}
	code {border: 1px solid var(--sepline-discrete);}
	pre code, tag {border:none;}
}
