---
permalink: "/tags/"
layout: "default.liquid"
title: "Tags - tamz blog"
pagination:
  include: Tags
  per_page: 16
---
{% if paginator.indexes %}
	<h1>Tags</h1>
	{%- comment -%} TODO consider not hamfisting <h2> formatting here {%- endcomment -%}
	<h2>
	{%- for tag in paginator.indexes -%}
		<span class="tag {{ tag.index_title }}"><a href="{{ tag.index_title }}/">{{ tag.index_title }}</a></span>
	{%- endfor -%}
	</h2>
{% else %}
	{% assign title = paginator.index_title %}
	<h1>Tag <span class="tag {{ paginator.index_title }}">{{ paginator.index_title }}</span></h1>
	{% include "print_posts.liquid" -%}
	{% include "pagination_nav.liquid" -%}
{% endif %}
