<!DOCTYPE html>
<html lang="en">
{% include "head.liquid" -%}
<body>
{% include "nav.liquid" -%}
<main>
{{ page.content }}
</main>
{% include "footer.liquid" -%}
{% include "gpl.liquid" -%}
</body>
</html>
