<!DOCTYPE html>
<html lang="en">
{% include "head.liquid" -%}
<body>
{% include "nav.liquid" -%}
<main>
	<div class="post-info">
		<h1 class="post-title">{{ page.title }}</h1>
		<time class="publication-time" datetime="{{ page.published_date | date: "%F" }}">
		{{ page.published_date | date: "%Y-%m-%d, %a" }}
		</time>
		{% if page.tags %}
			{% include "print_tags.liquid" %}
		{% endif %}
	</div>
	<div class="post-content-separator"></div>
	<div class="post-content">
		{{ page.content }}{%- comment -%}whitespace...{%- endcomment -%}
	</div>
</main>
{% include "footer.liquid" -%}
{% include "gpl.liquid" -%}
</body>
</html>
